html
    head
        title Movie Search Engine
body
    form(action="/movies", method="GET")
        br
        label Title:
        input(type="text" name="Title")
        br
        input(type="submit" value="Search") 
        br
    div#main
        h2 List of Movies:
        if movie
            each movie in movies
                a(href="/movies/" + movie.Title) #{movie.Title}
                br
        br
